<div class="container">
    <div><h2>AMRARM3D</h2> </div>
    <div class="head">
       <h1>Comentarios de Modelo 3D: {{this.detailComment.name}}</h1>
    </div>

    <div class="button-headers">
        <button mat-raised-button color="primary" routerLink = "/models" class="demo-button">
          Volver
        </button>
    </div>

    <div class="comment-section">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Comentario</th>
          <th>Acciones</th>
        </tr>
        <tr>
          <td>Prof. Milton</td>
          <td>Aporte</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td><button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button></td>
        </tr>
        <tr>
          <td>Prof Irma</td>
          <td>Queja</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td><button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button></td>
        </tr>
        <tr>
          <td>Prof. Wilson</td>
          <td>Aporte</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td><button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button></td>
        </tr>
      </table>
    </div>


</div>
