h1{
  font-size: medium;
}
.container{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.title{
  flex-direction: row;
  align-content: center;
}
.admin_buttins{
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-self: center;
}
