<div class="container">
    <div><h2>AMRARM3D</h2> </div>
    <div class="head">
       <h1>Agregar Modelo</h1> 
    </div>
    
    <div class="button-headers">
        <button mat-raised-button color="primary" routerLink = "/models" class="demo-button">
          Volver
        </button>
    </div>

    <div class="form">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre del Modelo</mat-label>
                <input matInput #mName>
            </mat-form-field>
                <br><br>
            <mat-form-field appearance="fill">
                <mat-label>Curso</mat-label>
                <mat-select #model>
                    <mat-option value="Biologia">Biologia</mat-option>
                    <mat-option value="Astrologia">Astrologia</mat-option>
                    <mat-option value="Quimica">Quimica</mat-option>
                    <mat-option value="Anatomia">Anatomia</mat-option>
                </mat-select>
            </mat-form-field>
                <br><br>
            <mat-form-field appearance="fill">
                <mat-label>Grado</mat-label>
                <mat-select #grade>
                    <mat-option value="1ro">1ro</mat-option>
                    <mat-option value="2do">2do</mat-option>
                    <mat-option value="3ro">3ro</mat-option>
                    <mat-option value="4to">4to</mat-option>
                    <mat-option value="5to">5to</mat-option>
                    <mat-option value="6to">6to</mat-option>
                </mat-select>
            </mat-form-field>
            
            <form>
                <label>Cargar Modelo 3D (Solo .glb):</label>
                <br><br>
                <input type="file"
                    id="model" name="model"
                    accept=".glb" required>
            </form>
            <br><br>
            <button mat-raised-button color="primary" (click)="test(mName.value, model.value, grade.value)">Cargar</button>
                
          
        </div>
        
    </div>
</div>
